   <mat-card>
     <mat-card-header>
       <mat-card-title> Primary details
       </mat-card-title>
     </mat-card-header>

     <mat-card-content>
       <div class="job-details">
         <ng-container *ngIf="job_data">
           <ng-container *ngFor="let details of job_details">
             <div class="job_detail">
               <div class="title">{{details.label | uppercase}}</div>
               <ng-container *ngIf="!!job_data[details.key]; else novalues">
                 <div class="value">{{job_data[details.key]}}</div>
               </ng-container>
               <ng-template #novalues>
                 No values to display
               </ng-template>

             </div>
           </ng-container>
         </ng-container>
       </div>
     </mat-card-content>

   </mat-card>
